
body {
    background-color: var(--color-dark-black);
}

/* width */
::-webkit-scrollbar {
    width: 1.5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--color-dark-black); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-orange);
    
  }
