
/* COLOR PALETTE*/
:root {
    --main-bg-color: coral;
    --color-dark-black: #1D1D1D;
    --color-dark-purple: #2D2835;
    --color-medium-purple: #443659;
    --color-sand: #F2B885;
    --color-purple: #8C4A6E;
    --color-orange: #F2756A;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey: #878686;
    
    
}